<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/sliderbox.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- 在使用 Cordova/PhoneGap 创建的 APP 中包含的文件，由 Cordova/PhoneGap 提供，(开发过程中显示 404) -->
    <!--<script src="cordova.js"></script>-->
    <script src="app.js"></script>
</head>
<body ng-app="todo" ng-controller="choiceController">
<ion-content class="gray-bg">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true"
                   slide-interval=5000 show-pager="true" pager-click="pageClick(index)"
                   active-slide="model.activeIndex" delegate-handle="delegateHandler" ng-click="coverFlowClick()">
        <ion-slide ng-repeat="banner in banner_list">
            <div class="box">
                <img ng-src="{{banner.thumb}}">
            </div>
        </ion-slide>
    </ion-slide-box>
    <div class="content padding-30-bottom margin-bottom light-bg" ng-reapt="category in category_list">
        <div class="bar bar-clear">
            <div class="title title-left">
                <h4 class="">
                    <dt>{{category.title}}</dt>
                </h4>
            </div>
            <button class="button icon-right ion-ios-arrow-right button-clear button-positive pull-right ">更多推荐</button>
        </div>
        <div class="content has-header">
            <div class="row row-no-padding padding-bottom">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
            </div>
            <div class="row row-no-padding padding-bottom">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content padding-30-bottom margin-bottom light-bg">
        <div class="bar bar-clear">
            <div class="title title-left">
                <h4 class="">
                    <dt>电视剧</dt>
                </h4>
            </div>
            <button class="button icon-right ion-ios-arrow-right button-clear button-positive pull-right ">更多电视剧</button>
        </div>
        <div class="content has-header">
            <div class="row row-no-padding padding-bottom">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
            </div>
            <div class="row row-no-padding padding-bottom">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content padding-30-bottom margin-bottom light-bg">
        <div class="bar bar-clear">
            <div class="title title-left">
                <h4 class="">
                    <dt>电影</dt>
                </h4>
            </div>
            <button class="button icon-right ion-ios-arrow-right button-clear button-positive pull-right ">更多电影</button>
        </div>
        <div class="content has-header">
            <div class="row row-no-padding padding-bottom">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
            </div>
            <div class="row row-no-padding padding-bottom">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content padding-30-bottom margin-bottom light-bg">
        <div class="bar bar-clear">
            <div class="title title-left">
                <h4 class="">
                    <dt>少儿</dt>
                </h4>
            </div>
            <button class="button icon-right ion-ios-arrow-right button-clear button-positive pull-right ">更多好玩的</button>
        </div>
        <div class="content has-header">
            <div class="row row-no-padding padding-bottom">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
            </div>
            <div class="row row-no-padding padding-bottom">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img
                            src="http://img.mm522.net/flashAll/20120206/13285185634aUfhU.jpg">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            2016齐舞大赛海选
                        </span>
                        <p class="" style="font-size: 10px">2016首届广西电视少儿齐舞大赛开赛</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


</ion-content>
</body>
</html>