<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- 在使用 Cordova/PhoneGap 创建的 APP 中包含的文件，由 Cordova/PhoneGap 提供，(开发过程中显示 404) -->
    <!--<script src="cordova.js"></script>-->
    <script src="app.js"></script>
</head>
<body ng-app="todo" ng-controller="discoverController" page-showloading>
<ion-content class="gray-bg">
    <ion-slide-box ng-cloak on-slide-changed="slideHasChanged($index)" auto-play="true"
                   slide-interval=5000 show-pager="true" pager-click="pageClick(index)"
                   active-slide="model.activeIndex" delegate-handle="delegateHandler" ng-click="coverFlowClick()">
        <ion-slide ng-repeat="banner in banner_list">
            <div class="box">
                <img ng-src="{{banner.thumb}}">
            </div>
        </ion-slide>
    </ion-slide-box>
    <ion-slide-box ng-cloak on-slide-changed="discoverslideHasChanged($index)"
                    pager-click="discoverpageClick(index)"
                   active-slide="model.discoveractiveIndex" delegate-handle="delegateHandler"
                   ng-click="discoverFlowClick()">
        <ion-slide ng-repeat="item in item_list">
            <div class="light-bg pa">
        <ul >
            <li ng-repeat="value in item" class="icon">
                    <img class="app-thumb" ng-src="{{value.app_thumb}}">
                    <div><span class="icon-desc" >{{value.app_name}}</span></div>
            </li>
        </ul>
                <div style="clear: both"></div>
            </div>

            </ion-slide>
    </ion-slide-box>
    <div ng-cloak class="content padding-30-bottom margin-bottom light-bg" ng-repeat="category in category_list">
        <div class="bar bar-clear">
            <div class="title title-left">
                <h4 class="">
                    <dt>{{category.title}}</dt>
                </h4>
            </div>
            <button class="button icon-right ion-ios-arrow-right button-clear pull-right button-more">更多推荐</button>
        </div>
        <div class="content has-header">
            <div ng-if="$even" class="row row-no-padding padding-bottom" ng-repeat="item in category.item_list">
                <div class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-left"><img ng-click=""
                            ng-src="{{category.item_list[$index].thumb}}">
                    </div>
                    <div class=" item-content padding-5">
                        <span class="black">
                            {{category.item_list[$index].title}}
                        </span>

                        <p class="color-darkgray" style="font-size: 10px"> {{category.item_list[$index].info}}</p>

                    </div>
                </div>
                <div ng-if="$index+1<category.item_list.length" class="col-50">
                    <div class=" item item-image padding-3 item-borderless padding-6-right"><img ng-click=""
                            ng-src="{{category.item_list[$index+1].thumb}}">
                    </div>
                    <div class=" item-content padding-3">
                        <span class="black">
                            {{category.item_list[$index+1].title}}
                        </span>

                        <p class="color-darkgray" style="font-size: 10px"> {{category.item_list[$index+1].info}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
</body>
</html>